
@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.regular.ttf");
}

body{
    font-family: "Poppins";
    color: #353535;
    background-image: url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}

.container-fluid{
    background-color: #F6F6F6;
}

.nav_bar_left{
    display: flex;
    width: 30%;
    /* background-color: blue; */
    align-items: center;
}

.nav_bar_center{
    display: flex;
    width: 40%;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
}

.nav_bar_right{
    display: flex;
    width: 30%;
    /* background-color: green; */
    align-items: center;
    justify-content: end;
    
}

.nav_bar_right a{
    background-color: #FBDE49;
    margin-left: 5px;
}

.nav_bar_center a{
    margin: 20px;
    text-decoration: none;
    color: #353535;
}

.nav_bar_right img{
    width: 7%;
    height: auto;
    margin: 5px;
}

.nav_bar_left label{
    font-size: 22px;
    margin-left: 10px;
}

.nav_bar_left img{
    width: 15%;
    height: auto;
}

/* .nav_bar_main_div{
    position: fixed;
    top: 0;
    z-index: 1000;
} */


/* Main Section */

.search_bar{
    margin-right: 10px;
    width: 100%;
}

.search_bar_div{
    display: flex;
    margin-top: 20px;
    justify-content: end;
}

.search_bar_div button img{
    width: 50%;
}

.search_bar_div button{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #FD6A01;
    border: none;
}

.search_bar_div input{
    border-radius: 5px;
    border: none;
    background-color: #F6F6F6;
    height: 30px;
}

.category_section{
    width: 100%;
    /* background-color: aqua; */
}

.dropdow_category{
    display: flex;
    justify-content: end;
    
}

.dropdown_category button{
    background-color: #F6F6F6;
}

.margin_redefined{
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 20px !important;
    width: 98% !important;
    max-width: none !important;
    /* background-color: aquamarine; */
}

.quote_box h1{
    display: inline;
    text-align: center;
    font-weight: bolder;   
    
}

.card{
    border-radius: 10px !important;
}

.card_button{
    background-color:#FBDE49;
}

/* --------Category CSS-------- */

.button-list {
    display: flex; /* Makes the list horizontal */
    list-style-type: none; /* Removes bullet points */
    padding: 0;
    margin: 0;
}

.button-list li {
    margin-right: 10px; /* Adds spacing between buttons */
}

.button-list button {
    /* Basic button styling */
    padding: 10px 15px;
    background-color: #78AE00;
    color: #353535;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

/* .more-item {
    display: none; 

}*/
/* Optional: Add hover effect */
.button-list button:hover {
    background-color: #FD6A01;
}

#category_selector{
    background-color: #F6F6F6;
    color: #353535;
    border-radius: 10px;
    border: none;
    margin-left: 50px;
}

/* ------------------------------- */

#button_recipe{
    background-color: #FBDE49;
    color: #353535;
    border: none;
}

.button_details :hover{
    background-color: #FD6A01 !important;
}

#thumb_img{
    margin: 10px;
    border-radius: 5px;
}

#item_card{
    background-color: #D9D9D9;
}