@font-face {
    font-family: "Poppins";
    src: url("../fonts/poppins.regular.ttf");
}

body{
    font-family: "Poppins";
    color: #353535;
    background-image: url("../img/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}

.container-fluid{
    background-color: #F6F6F6;
}

.nav_bar_left{
    display: flex;
    width: 30%;
    /* background-color: blue; */
    align-items: center;
}

.nav_bar_center{
    display: flex;
    width: 40%;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
}

.nav_bar_right{
    display: flex;
    width: 30%;
    /* background-color: green; */
    align-items: center;
    justify-content: end;
    
}

.nav_bar_center a{
    margin: 20px;
    text-decoration: none;
    color: #353535;
}

.nav_bar_right img{
    width: 7%;
    height: auto;
    margin: 5px;
}

.nav_bar_left label{
    font-size: 22px;
    margin-left: 10px;
}

.nav_bar_left img{
    width: 15%;
    height: auto;
}

/* .nav_bar_main_div{
    position: fixed;
    top: 0;
    z-index: 1000;
} */

/* Main Section */

.search_bar{
    margin-right: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
}

.search_bar_div button img{
    width: 50%;
}

.search_bar_div button{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #FD6A01;
    border: none;
}

.search_bar_div input{
    border-radius: 5px;
    border: none;
    background-color: #F6F6F6;
    height: 35px;
}

.button_back{
    border-radius: 20px;
}

/* .category_section{
    width: 100%;
    /* background-color: aqua; 
}*/

/*.category_item button{
    background-color: #F6F6F6;
    border: none;
    border-radius: 10%;
    padding: 10px;
    margin-right: 10px;
} */

.dropdow_category{
    
    justify-content: end;
    align-items: center;


}

.dropdown_category button{
    background-color: #F6F6F6;
}

.margin_redefined{
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 10px !important;
    width: 98% !important;
    max-width: none !important;
    /* background-color: aquamarine; */
}

.add_recipe_btn{
    display: flex;
    justify-content: end;
}

#title{
    text-transform: uppercase;
    color: #353535;
    padding-top: 10px;
}



/* .thumb_img_section{
    min-height: 225px;
    background-color: aquamarine;
} */

#thumb_img_box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#81AD4E;
    min-height: 22vh;
    max-height: 35vh;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

#ingredient_box{
    background-color: #FBDE49;
    min-height: 22vh;
    max-height: 35vh;
    height: auto;
    overflow-y: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#instruction_box{
    background-color: #F6F6F6;
    min-height: 30vh;
    max-height: 32vh;
    height: auto;
    overflow-y: auto;
    border-radius: 10px;
}

#quote_box{
    /* background-color: rgb(231, 220, 116); */
    min-height: 225px;
    text-align: center;
    align-content: end;
    
}

#quote_box h1{
    font-weight: bolder;
    color: #81AD4E;
}

.button_back{
    background-color: #FD6A01;
    border-radius: 40px;
}
